[Unit]
Description=Server HUD client
After=multi-user.target

[Service]
Type=simple
Environment=SERVERHUD_CONFIG=/home/serverhud/config.py
ExecStart=/usr/local/bin/serverhud-client
StandardInput=tty-force
StandardOutput=journal
StandardError=journal
User=serverhud
Group=serverhud

[Install]
WantedBy=multi-user.target
