<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    {% if hostname %}
	    	<title>{{ hostname }} - server HUD</title>
	    {% else %}
	        <title>Unknown hostname - server HUD</title>
	    {% endif %}
	    <link href="/static/css/dashboard.css" rel="stylesheet">
  	</head>
	<body>
		<div class="header"><div class="text-center" id="clock">Network dash - {{ hostname }} - 00:00</div></div>
		<div class="web-panel">
			<div class="panel-heading"><div class="text-center">Web server stats</div></div>
			<div class="connections col-2">
	 			<div class="panel-heading">Active connections</div>
				<div class="panel-body"><h1 class="text-center high" id="connections">0</h1></div>
			</div>
			<div class="url col-4">
				<div class="panel-heading">Latest remote address</div>
				<div class="panel-body"><h3 class="text-center" id="remote">0.0.0.0</h3></div>
			</div>
			<div class="uptime col-2">
				<div class="panel-heading">Uptime</div>
				<div class="panel-body"><h3 class="text-center" id="uptime">00:00</h3></div>
			</div>
			<div class="accesses col-2">
				<div class="panel-heading">Logged accesses</div>
				<div class="panel-body"><h3 class="text-center" id="accesses">0</h3></div>
			</div>
		</div>
		<div class="speed-panel">
			<div class="panel-heading"><div class="text-center">Firewall stats</div></div>
			<div class="connections col-2">
	 			<div class="panel-heading">Active connections</div>
				<div class="panel-body"><h1 class="text-center high" id="fw_connections">0</h1></div>
			</div>
			<div class="speed col-4">
				<div class="panel-heading">Receive speed</div>
				<div class="panel-body"><h3 class="text-center" id="rcv_speed">0.00 KiB/s</h3></div>
			</div>
			<div class="speed col-4">
				<div class="panel-heading">Send speed</div>
				<div class="panel-body"><h3 class="text-center" id="send_speed">0.00 KiB/s</h3></div>
			</div>
		</div>
		<div class="footer"><div class="text-center">Network dash by Martin Bo Kristensen Gr&oslash;nholdt</div></div>
		<script src="static/js/atomic.js" type="text/javascript"></script>
		<script type="text/javascript">
var last_connections = 0;

function updateConnections()
{
	var connections = document.getElementById("connections");
	
	atomic.get('http://straylight.groenholdt.net:5000/rest/connections', 'application/json')
	.success(function (data, xhr) 
	{
		connections.innerHTML = data.connections;
		connections.className = "text-center high";
		var current_connections = data.connections;
		if (current_connections > last_connections)
		{
			updateRemoteHost()
		}
		last_connections = current_connections;
	})
	.error(function (data, xhr) 
	{
		connections.innerHTML = "Could not get data.";
		connections.className = "error";
	});

	var connections_fw = document.getElementById("fw_connections");
	atomic.get('http://malcom.groenholdt.net:5000/rest/connections', 'application/json')
	.success(function (data, xhr) 
	{
		connections_fw.innerHTML = data.connections;
		connections_fw.className = "text-center high";
	})
	.error(function (data, xhr) 
	{
		connections_fw.innerHTML = "Could not get data.";
		connections_fw.className = "error";
	});
}

function updateSpeed()
{
	var rcv_speed = document.getElementById("rcv_speed");
	var send_speed = document.getElementById("send_speed");

	atomic.get('http://malcom.groenholdt.net:5000/rest/rcv_speed', 'application/json')
	.success(function (data, xhr) 
	{
		rcv_speed.innerHTML = data.speed + " KiB/s";
		rcv_speed.className = "text-center";
	})
	.error(function (data, xhr) 
	{
		rcv_speed.innerHTML = "Could not get data.";
		rcv_speed.className = "error";
	});

	atomic.get('http://malcom.groenholdt.net:5000/rest/send_speed', 'application/json')
	.success(function (data, xhr) 
	{
		send_speed.innerHTML = data.speed  + " KiB/s";
		send_speed.className = "text-center";
	})
	.error(function (data, xhr) 
	{
		send_speed.innerHTML = "Could not get data.";
		send_speed.className = "error";
	});
}

function updateRemoteHost()
{
	var remote = document.getElementById("remote");
	
	atomic.get('http://straylight.groenholdt.net:5000/rest/remote_host', 'application/json')
	.success(function (data, xhr) 
	{
		remote.innerHTML = data.address;
		remote.className = "text-center";
	})
	.error(function (data, xhr) 
	{
		remote.innerHTML = "Could not get data.";
		remote.className = "error";
	});
}

function updateUptime()
{
	var uptime = document.getElementById("uptime");
	
	atomic.get('http://straylight.groenholdt.net:5000/rest/uptime', 'application/json')
	.success(function (data, xhr) 
	{
		uptime.innerHTML = data.uptime;
		uptime.className = "text-center";
	})
	.error(function (data, xhr) 
	{
		uptime.innerHTML = "Could not get data.";
		uptime.className = "error";
	});
}

function updateAccesses()
{
	var accesses = document.getElementById("accesses");
	
	atomic.get('http://straylight.groenholdt.net:5000/rest/accesses', 'application/json')
	.success(function (data, xhr) 
	{
		accesses.innerHTML = data.accesses;
		accesses.className = "text-center";
	})
	.error(function (data, xhr) 
	{
		accesses.innerHTML = "Could not get data.";
		accesses.className = "error";
	});
}

function updateTime()
{
	var today=new Date();
	var h=today.getHours();
	var m=today.getMinutes();
	if (m < 10)
	{
		m = "0" + m
	}
	document.getElementById('clock').innerHTML = "Server dash board - {{ hostname }} - " + h + ":" + m;
}

function updateSlow()
{
	updateRemoteHost();
	updateAccesses();
	updateUptime();
}

function updateMinute()
{
	if (remote.className == "error")
	{
		updateRemoteHost();	
	}
	updateTime();
}

function updateFast()
{
	updateConnections();
	updateSpeed();
}

updateSlow();
updateMinute();
updateFast();
setInterval(updateSlow, 180000);
setInterval(updateMinute, 60000);
setInterval(updateFast, 5000);
		</script>
	</body>
</html>